{% extends 'base.html' %}

{% block title %}Edit Orders{% endblock %}

{% block content %}
<style>
    body {
        background-color: #111;
    }

    .profile-box {
        background-color: #222;
        color: white;
        width: 420px;
        margin: 40px auto;
        padding: 25px;
        border-radius: 12px;
        text-align: center;
        border: 1px solid #444;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    }

    .profile-box h2 {
        margin-bottom: 20px;
    }

    .profile-box p {
        font-size: 16px;
        margin: 10px 0;
    }

    hr {
        border-color: #444;
    }

    .btn {
        width: 170px;
        padding: 10px;
        margin: 8px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        font-size: 15px;
        transition: 0.3s;
    }
</style>
<div class="edit_profile-box">
    <h2>Find User by ID</h2>

    <hr>

    <button type="button" onclick="showEditBox()">Edit User</button>

</div>

    <script>
        function showAdminBox(){
            var box = document.getElementById("adminBox");
            if (box.style.display == "none"){
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }
    </script>


{% endblock %}