{% extends 'base.html' %}

{% block title %} Edit {% endblock %}

{% block content %}
<style>
    body {
        background-color: #11111108
    }
    .edit-box {
        background-color: #222;
        color: black;
        width: 420px;
        margin: 40px auto;
        padding: 25px;
        border-radius: 12px;
        text-align: center;
        border: 1px solid #444;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    }

    .title {
        color:white
    }
</style>

<div class="edit-box">
    <div class="title">

        <h2>Edit User Payment</h2>

    </div>


    <p>Welcome <strong>{{ session.get('user_name') }}</strong></p>

    <hr>

    <p><strong>Search</strong> User by ID:</p>

    <input type="text" name="search_user_id" placeholder="User ID">
    <button type="submit">Search</button>

    <hr>
</div>



{% endblock %}