{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/review.css">
<div class="container">
    <h2>Register</h2>
    <form action="{{url_for('auth.register')}}" method="POST">
        <input name="name" placeholder="name" value="{{ name or '' }}" required>
        <input name="phone" placeholder="phone" value="{{ phone or '' }}" required>
        <input name="email" placeholder="email" value="{{ email or '' }}" required>
        <input name="password" placeholder="password" value="{{ password or '' }}" required>
        <button type="submit">REGISTER</button>
    </form>
</div>
{% endblock %}