{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/review.css">
<div class="container">
    <h2>Register</h2>
    <form action="{{url_for('auth.register')}}" method="POST">
        <input name="name" placeholder="name" value="{{ name or '' }}" required>
        <input name="phone" placeholder="phone" value="{{ phone or '' }}" required>
        <input name="email" placeholder="email" value="{{ email or '' }}" required>
        <input name="password" placeholder="password" value="{{ password or '' }}" required>
        <button type="button" onclick="showAdminBox()">Admin?</button>
        <div id="adminBox" style="display: none; margin-bottom: 10px;">
            <input name="admin_code" placeholder="Enter Admin secret phrase">
        </div>

        <button type="submit">REGISTER</button>
        </form>
        </div>



    <script>
        function showAdminBox(){
            var box = document.getElementById("adminBox");
            if (box.style.display == "none"){
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }
    </script>
</div>
{% endblock %}