{% extends 'base.html' %}

{% block title %}User Orders{% endblock %}

{% block content %}
<style>
    body { background-color: #111; }
    .box {
        background-color: #222;
        color: white;
        width: 90%;
        max-width: 900px;
        margin: 30px auto;
        padding: 25px;
        border-radius: 12px;
        border: 1px solid #444;
    }
    table { width: 100%; border-collapse: collapse; margin-top: 20px; }
    th, td { padding: 10px; border: 1px solid #555; text-align: left; }
    th { background-color: #333; }
</style>

<div class="box">
    <h2>My Orders</h2>
    <p>Welcome <strong>{{ session.get('user_name') }}</strong></p>
    <hr>

    {% if orders %}
    <table>
        <tr>
            <th>ID</th>
            <th>Pizza</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Status</th>
            <th>Arrival</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.pizza }}</td>
            <td>{{ order.quantity }}</td>
            <td>${{ '%.2f'|format(order.total_price) }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.arrival_text }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}
</div>







{% endblock %}